[package]
name = "dust"
version = "0.1.0"
authors = ["Asger Nyman Christiansen <asgernyman@gmail.com>"]
edition = "2018"

[dependencies]
core = { path = "lib/core" }
wavefront_obj = "5.1.0"
window = { path = "lib/window" }
num = "0.2.0"
num-traits = "0.2"
num-derive = "0.2.4"
log = "0.4"

[dev-dependencies]
rand = "0.6.5"
noise = {git = "https://github.com/Razaekel/noise-rs", branch = "develop"}
tri-mesh = "0.4.0"

[features]
gl_debug = ["core/gl_debug"]
