[package]
name = "three-d"
version = "0.10.0" # Remember to update example links
authors = ["Asger Nyman Christiansen <asgernyman@gmail.com>"]
edition = "2021"
description = "2D/3D renderer - makes it simple to draw stuff across platforms (including web)"
license = "MIT"
readme = "README.md"
repository = "https://github.com/asny/three-d"
categories = ["graphics", "rendering", "visualization", "wasm", "web-programming"]
keywords = ["3d", "gamedev", "webassembly", "opengl", "webgl"]
exclude = ["/examples", ".gitignore", "index.html"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = ["glutin-window", "canvas", "egui-gui", "obj-io", "gltf-io", "image-io"]
glutin-window = ["glutin"] # Default window for desktop (only available when NOT building for the wasm32 architecture)
canvas = [] # Default window for web (only available when building for the wasm32 architecture)
egui-gui = ["egui"] # Additional GUI features 
image-io = ["image"] # Additional image functionality, for example loading an image to a texture
obj-io = ["wavefront_obj", "image-io"]
gltf-io = ["gltf", "image-io"]
debug = [] # Prints OpenGL debug information (only available when NOT building for the wasm32 architecture)

[dependencies]
log = "0.4"
cgmath = "0.18"
half = {version="1.8", features=["std", "num-traits", "zerocopy", "serde"]}
thiserror = "1.0"
reqwest = "0.11"
serde = { version = "1.0", features = ["derive"], optional = true }
gltf = { version = "0.16", features = ["utils"], optional = true }
wavefront_obj = { version = "10.0", optional = true }
image = { version = "0.23", optional = true, default-features = false, features = ["gif", "jpeg", "ico", "png", "pnm", "tga", "tiff", "webp", "bmp", "hdr", "dxt", "dds", "farbfeld"]}
egui = { version = "0.13", optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.build-dependencies]
gl_generator = {version = "0.14"}

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
glutin = { version = "0.27", optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
js-sys = "0.3"
wasm-bindgen = { version = "0.2", features = ["serde-serialize"] }
wasm-bindgen-futures = "0.4"
web-sys = { version = "0.3", features = ['Document', 'Element', 'Node', 'HtmlElement', 'HtmlCollection', 'HtmlCanvasElement', 'Window', 'CssStyleDeclaration', 'Event', 'MouseEvent', 'EventTarget', 'WheelEvent', 'KeyboardEvent', 'TouchEvent', 'TouchList', 'Touch','WebGlBuffer','WebGlFramebuffer', 'WebGl2RenderingContext', 'WebGlProgram', 'WebGlShader', 'WebGlTexture', 'WebGlUniformLocation', 'WebGlVertexArrayObject', 'WebGlActiveInfo', 'WebGlSync', 'Performance','Headers', 'Request', 'RequestInit', 'RequestMode', 'Response'] }
gloo-timers = "0.2"
serde = { version = "1.0", features = ["derive"] }

[dev-dependencies]
rand = "0.7"
tokio = { version = "1.16", features = ["macros", "rt-multi-thread"] }

[[example]]
name = "triangle"
path = "examples/triangle/src/main.rs"

[[example]]
name = "mandelbrot"
path = "examples/mandelbrot/src/main.rs"

[[example]]
name = "shapes2d"
path = "examples/shapes2d/src/main.rs"

[[example]]
name = "shapes"
path = "examples/shapes/src/main.rs"

[[example]]
name = "texture"
path = "examples/texture/src/main.rs"

[[example]]
name = "volume"
path = "examples/volume/src/main.rs"

[[example]]
name = "picking"
path = "examples/picking/src/main.rs"

[[example]]
name = "environment"
path = "examples/environment/src/main.rs"

[[example]]
name = "pbr"
path = "examples/pbr/src/main.rs"

[[example]]
name = "lighting"
path = "examples/lighting/src/main.rs"

[[example]]
name = "lights"
path = "examples/lights/src/main.rs"

[[example]]
name = "image"
path = "examples/image/src/main.rs"

[[example]]
name = "fog"
path = "examples/fog/src/main.rs"

[[example]]
name = "fireworks"
path = "examples/fireworks/src/main.rs"

[[example]]
name = "statues"
path = "examples/statues/src/main.rs"

[[example]]
name = "wireframe"
path = "examples/wireframe/src/main.rs"

[[example]]
name = "forest"
path = "examples/forest/src/main.rs"

[[example]]
name = "normals"
path = "examples/normals/src/main.rs"

[[example]]
name = "headless"
path = "examples/headless/src/main.rs"

[[example]]
name = "logo"
path = "examples/logo/src/main.rs"